#cosolelogme{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style : italic;
    font-size: 15px;}
#whoareyou{
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
  font-size: 70px;}
